<template>
  <div id="app">
    <div id="nav">
      <!-- <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> -->
    </div>
    <router-view />
  </div>
</template>

<style lang="less">
*,
html,
body,
div,
img,
p {
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}
body{
  background-color:rgba(247, 247, 250, 1) ;
}

</style>
